@charset "utf-8";

/*----------------------------------------------------*/
/*                    General rule                    */
/*----------------------------------------------------*/

:root {
    --app-dark-background: #141414;
    --app-medium-grey: #2d2d2d;
    --app-yellow: #ffff00;
    --app-white: #fff;
    --app-green: #7cfc00;
    --app-pink: #ff007f;
    --app-red: #ff3333; 
    --app-blue: #0000e6;
    --app-light-grey:#f6f6f6; 
    --app-bg-dashboard: rgba(128, 128, 128, 0.911);
    --app-purple: #9a009a;
}

body {
    font-family: 'Audiowide', 'Nunito sans', Arial, sans-serif ;
    text-rendering: geometricPrecision;
    background-color: var(--app-dark-background);
    background-image: url("../img/cyber-city2.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

.flex {
    display: flex;
}

.hidden { 
    visibility: hidden; 
}

.hidden-element { 
    display: none;
}

/*----------------------------------------------------*/
/*                  Main  / Background                */
/*----------------------------------------------------*/

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

main {
    overflow: auto;
    height: 100svh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 18px;
    font-weight: 500;
    color: var(--app-yellow);
    margin-top: 20px;
    text-shadow: 1px 1px var(--app-dark-background);
}

/*----------------------------------------------------*/
/*                   Game / Dashboard                 */
/*----------------------------------------------------*/

.dashboard {
    width: 500px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(128, 124, 124);
    border-radius: 5px;
    backdrop-filter:blur(10px);
   
    h1 {
        font-size: 50px;
        letter-spacing: 4px;
        color: var(--app-pink);
        text-align: center;
        margin: 30px;
        text-shadow: 0 0 5px #fff, 
                    0 0 10px #fff, 
                    0 0 20px #ff00ff, 
                    0 0 30px #ff00ff, 
                    0 0 40px #ff00ff, 
                    0 0 50px #ff00ff, 
                    0 0 60px #ff00ff;
    }

    .display-elements {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .timeout{
        width: 350px;
        height: 70px;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        color: #04ffff;
        text-shadow: 0 0 1px #04ffff, 
                    0 0 2px #04ffff,
                    0 0 3px #04ffff;
        font-variant:tabular-nums;
    }

    .word-display {
        font-size: 40px;
        color: var(--app-green);
        text-align: center;
        padding-top: 20px;
        width: 400px;
        height: 100px;
        background: var(--app-purple);
        border: 1px solid var(--app-green);
        border-radius: 5px;
        font-variant:tabular-nums;
    }

    .counter p{
        font-size: 30px;
        font-weight: 500;
        margin: 30px;
        text-align: center;
        color: #04ffff;
        text-shadow: 0 0 1px #04ffff, 
                    0 0 2px #04ffff; 
        font-variant:tabular-nums;
    }

    .input-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-text {
        font-size: 40px;
        color: var(--app-medium-grey);
        text-align: center;
        width: 400px;
        height: 70px;
        background: var(--app-light-grey);
        border: 1px solid var(--app-blue);
        border-radius: 5px;
        font-variant: tabular-nums;
        cursor: pointer;
    }

    .input-text::placeholder { 
        color: var(--app-medium-grey);
    }

    .setting-buttons{
        margin: 30px;
        gap: 30px;
        display: inline-block;

        .btn {
            width: 120px;
            height: 40px;
            font-size: 20px;
            background: var(--app-pink);
            border: 1px solid var(--app-blue);
            border-radius: 5px;
            color: var(--app-white);
            cursor: pointer;
        }

        .btn:hover {
            border: 2px solid var(--app-yellow);
            transition: all 0.25s ease-in-out; 
        }
    }
}

/*----------------------------------------------------*/
/*                 Modal / Instructions               */
/*----------------------------------------------------*/

.inst-btn { 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: 150px; 
    height: 50px; 
    backdrop-filter:blur(10px);
    border: 2px solid var(--app-green);
    border-radius: 25px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: var(--app-green); 
    cursor: pointer; 
    text-align: center; 
    font-size: 18px; 
    transition: all 0.25s ease-in-out; 
}

.instruction-button:hover {
    border: 3px solid var(--app-green);
    font-weight: 600;
}

.modal-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 9999;    
}

.modal {
    width: 500px;
    height: 650px;
    border-radius: 5px;
    border: 2px solid rgb(128, 124, 124);
    backdrop-filter:blur(50px);
        
    h1 { 
        font-size: 35px; 
        font-weight: 500; 
        color: var(--app-green); 
        text-align: center;
        margin: 20px;
        text-shadow: 1px 1px var(--app-dark-background);
    } 
    
    p { 
        text-align: left; 
        font-size: 16px; 
        font-weight: 500; 
        color: var(--app-green); 
        text-shadow: 1px 1px var(--app-dark-background);
        padding: 0 20px 10px 20px;
    }  
}

/*----------------------------------------------------*/
/*                    Modal / Scores                  */
/*----------------------------------------------------*/

.score-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 50px;
    backdrop-filter:blur(10px);
    border: 2px solid var(--app-green);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--app-green);
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
}

.score-btn:hover {
    border: 3px solid var(--app-green);
    font-weight: 600;
}


